* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}
h1 {
    color: aliceblue;
}
ul {
    list-style: none;
}
.crud__wrapper {
    background-image: linear-gradient(to right, #00b4db, #0083b0);
    width: 80%;
    margin: 30px auto 0;
    min-height: 420px;
    border-radius: 6px;
    padding: 10px;
}
.crud__form-wrapper {
    padding: 20px 0 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.crud__main-input,
.crud__main-submit {
    margin: 0 auto;
    border-radius: 6px;
    background-color: whitesmoke;
}
.crud__main-input {
    width: 91%;
    padding: 4px;
    height: 22px;
    text-align: center;
    outline: none;
    border: none;
    /* border: 1px solid grey; */
    font-size: 20px;
}
.crud__main-submit {
    width: 92%;
    height: 30px;
    font-size: 20px;
    padding: 4px;
    border: none;

    border: 1px solid grey;
}
.crud__list-area {
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 90%;
    margin: 0 auto;
    min-height: 280px;
}
.crud__task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    padding: 10px;
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}
.crud__task-text {
    color: whitesmoke;
}
.crud__btn-delete-task {
    font-size: 18px;
    padding: 4px;
    border: none;
    border-radius: 6px;
}
.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-out;
}
